
#mainNav {
    padding: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    background: #000;
    
}



#mainNav.navbar-shrink {
    margin-top: 0;
    background: rgb(0, 0, 0); 
}
#mainNav .navbar-brand {     
    margin: .5rem 0 .75rem; 
}


#mainNav .navbar-toggler {
    border: none;
    cursor: pointer;
    outline: none;
}

.fa-bars:before {
    color: hotpink;
    font-size: 1.5rem;
    
}
    background: transparent;
    border-radius: .25rem;
    color: #eee;
    margin-left: 1rem;
    padding: .2rem .75rem;
    text-align: right;
}

#mainNav .nav-link:hover {
    color: red;
}

#mainNav .nav-link.active {
    color: red;
}

@media screen and (max-width: 767px) {
    
       
    #page-top .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }    
    #mainNav .container {
        padding-left: 0;
        padding-right: 0;
    }
    
        
    #mainNav .navbar-nav {
        background-color: #000; 
    }
    
    #mainNav .nav-link {
        border-radius: 0;
        margin: 0;
    }
    
    #mainNav .nav-link {
        padding: .5rem 1.5rem;
        border-top: 1px solid #000;
    }
    
    #mainNav .nav-link,
    #mainNav .nav-link.active,
    #mainNav.navbar-shrink .nav-link:hover {
        background: transparent;
    }   
        
    #mainNav .navbar-toggler {
        margin-right: 15px;
    }
       
    #mainNav .navbar-brand {
        margin-left: 15px;
        @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
img{
  animation: spin 5s linear 0s infinite;
}
}